#info {
    display: grid;
    position: absolute;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    bottom: 0px;
    height: px;
    background-color: rgb(206, 81, 81);
    
}